*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/* <!-- -------------------------Sony------------------------ --> */
.sony{
    background: black;
    color: white;
    padding: 5px 2%;
}
.sony h1{
    text-align: end;
}

/* <!-- -------------------------Nav------------------------ --> */
.nav{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 2%;
    align-items: center;
}
.nav .logo a img{
    width: 50px;
}
.nav .links {
    margin-left: 50px;
}
.nav .links a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-weight: bold;
}
.nav .btn{
    margin-left: 500px;
}
.nav .btn button{
    background: blue;
    color: white;
    border: 0;
    outline: 0;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 18px
}
.nav .search{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 10px;
}

/* <!-- ------------------------Main------------------------- --> */
.main{
    width: 100%;
    min-height: 100%;
    display: flex;
}
.main .slide-container{
    position: relative;
    width: 100%;
    height: 580px;
}
.main .slide-container .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.main .slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.main .slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
.main .slide-container .buttons span{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: blue;
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    padding: 14px;
}
.next{
    right: 5px;
}
.prev{
    left: 5px;
}
.next:hover, .prev:hover{
    background: #3399FF;
    opacity: 0.8;
}
.dot-container{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dot-container .dot{
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.6s ease;
}
.dot-container .active{
    background: blue;
}

@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
}
@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

/* <!-- ------------------------indicator------------------------- --> */
.indicators{
    display: flex;
    padding: 10px 5%;
    width: 100%;
}
.indicators .one{
    margin-left: 10px;
}
.indicators .one img{
    width: 100%;
    border-radius: 15px;
}

/* <!-- ------------------------intro ps5------------------------- --> */
.intro-ps5{
    padding: 30px 5%;
    display: flex;
    align-items: center;
}
.intro-ps5 .righty img{
    width: 100%;
}
.intro-ps5 .lefty h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.intro-ps5 .lefty h3{
    font-size: 30px;
    color: blue;
    margin-bottom: 10px;
}
.intro-ps5 .lefty p{
    font-size: 18px;
    margin-bottom: 20px;
}
.intro-ps5 .lefty  span button{
    background: blue;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}
.intro-ps5 .lefty  span .red{
    background: red;
}

/* <!-- ------------------------cards------------------------- --> */
.carousel-inner{
    padding: 10px 5%;
    width: 100%;
}
.carousel-inner .carousel-item .row img{
    width: 100%;
    border: 1px solid  rgba(211, 211, 211, 1);
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px rgba(211, 211, 211, 1);
}

/* <!-- ------------------------great------------------------- --> */
.great{
    background: black;
    padding: 20px 5%;
    color: white;
    text-align: center;
}
.great h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.great  span button{
    border: 0;
    outline: 0;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}
.great .games{
    display: flex;
    margin-bottom: 20px;
}
.great .games .one{
    margin-left: 10px;
}
.great .games .one img{
    width: 100%;
    border-radius: 20px;
}
.great .games .one h3{
    font-size: 18px;
    margin-top: 10px;
}


/* <!-- ------------------------Discover------------------------- --> */
.discover{
    background-image: url(./images/discover\ bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    object-fit: cover;
}
.discover h3{
    font-size: 35px;
    padding-top: 20px;
}
.discover h2{
    font-size: 40px;
}

/* <!-- ------------------------Feel------------------------- --> */
.feel{
    background-image: url(./images/f1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 5%;
}
.feel h1{
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.feel p{
    width: 500px;
    margin-bottom: 20px;
    font-size: 18px;
}
.feel span button{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.feel span .red{
    background: red;
    color: white;
}

/* <!-- ------------------------july------------------------- --> */
.july{
    background-image: url(./images/j1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 5%;
}
.july h1{
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.july p{
    width: 500px;
    margin-bottom: 20px;
    font-size: 18px;
}
.july span button{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.july .new{
    display: flex;
}
/* .july .new .one{
    margin-left: 10px;
} */
/* .july .new .one img{
    width: 300px;
} */